/*
	Slider markup reference for styling

	<div class="tab-slider">
		<nav class="tab-nav">
			<ul class="nav-wrapper">
				<li class="nav-title"><a href="#">Tab 1</a></li>
				<li class="nav-title"><a href="#">Tab 2</a></li>
				<li class="nav-title"><a href="#">Tab 3</a></li>
				<li class="nav-title"><a href="#">Tab 4</a></li>
			</ul>
			<div class="nav-select">
 					<div class="select-bar"></div>
			</div>
		</nav>
		<section class="tab-content">
			<ul class="content-wrapper">
				<li class="content-page">
					Content 1
				</li>
				<li class="content-page">
					Content 2
				</li>
				<li class="content-page">
					Content 3
				</li>
				<li class="content-page">
					Content 4
				</li>
			</ul>
		</section>
	</div>
*/
/* line 46, ../sass/_tabSlider.scss */
.tab-slider {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* line 52, ../sass/_tabSlider.scss */
.tab-nav, .tab-content {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* line 57, ../sass/_tabSlider.scss */
.tab-nav {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

/* line 67, ../sass/_tabSlider.scss */
.nav-wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  -webkit-align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

/* line 82, ../sass/_tabSlider.scss */
.nav-title {
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  flex: 1;
  border-bottom: 5px solid white;
  list-style: none;
}
/* line 91, ../sass/_tabSlider.scss */
.nav-title a {
  height: 100%;
  margin: 0;
  text-decoration: none;
  word-wrap: break-word;
  color: black;
  font-size: 20px;
}

/* line 101, ../sass/_tabSlider.scss */
.nav-select {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* line 109, ../sass/_tabSlider.scss */
.select-bar {
  height: 5px;
  position: absolute;
  bottom: 0;
  background-color: black;
}

/* line 116, ../sass/_tabSlider.scss */
.tab-content {
  width: 100%;
  height: 100%;
}

/* line 121, ../sass/_tabSlider.scss */
.content-wrapper {
  margin: 0;
  padding: 0;
}

/* line 126, ../sass/_tabSlider.scss */
.content-page {
  margin: 0;
  padding: 1vw;
  box-sizing: border-box;
  list-style: none;
  display: none;
}

@media screen and (max-width: 700px) {
  /* line 137, ../sass/_tabSlider.scss */
  .nav-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  /* line 142, ../sass/_tabSlider.scss */
  .nav-select {
    display: none;
  }

  /* line 147, ../sass/_tabSlider.scss */
  .nav-title.selected {
    border-bottom: 5px solid black;
  }
}
/* line 3, ../sass/main.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ddd;
  font-family: Open Sans, Helvetica;
}

/* line 12, ../sass/main.scss */
main {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

/* line 22, ../sass/main.scss */
.tab-slider {
  width: 90vw;
}
