@import 'compass/css3';
@import 'tabSlider';

html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #ddd;
	font-family: Open Sans, Helvetica;
}

main{
	@include flexbox((
    display: flex,
		flex-wrap: wrap,
    flex-direction: row,
		justify-content: center,
		align-content: center
  ));
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (max-width: 500px) {

}
